html{
    animation-play-state:initial, running;
}
h1{
    text-align:center
}
p{
    text-align: left;
    font-weight: 600;
    color: black;
    stop-color: red;
}
img{
    margin: 20px;
    width: 95vw;
}